@using InteractiveChat.Models.ViewModels
<form class="d-flex" id="searchForm" method="post">
    <input class="form-control me-sm-2" type="search" placeholder="Search" id="searchInput" name="searchTerm">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" asp-controller="Friendship" asp-action="Index">Search</button>
</form>

<ul class="list-group mt-4" id="searchResults">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <img src=@item.User.ProfilePicUrl class="small-images" alt="user profile pic"/>
                @item.User.FirstName @item.User.LastName
                @if (item.RelationshipStatus == RelationshipStatus.None)
                {
                    <button class="btn btn-primary friendActionButton" id="addFriendButton" data-username="@item.User.UserName">Add Friend</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.PendingRequest)
                {
                    <button class="btn btn-primary friendActionButton" id="cancelRequestButton" data-username="@item.User.UserName">Cancel</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.ReceivedRequest)
                {
                    <button class="btn btn-primary friendActionButton" id="acceptRequestButton" data-username="@item.User.UserName">Accept</button>
                    <button class="btn btn-primary friendActionButton" id="rejectRequestButton" data-username="@item.User.UserName">Reject</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.Accepted)
                {
                    <button class="btn btn-primary friendActionButton" id="unfriendButton" data-username="@item.User.UserName">Unfriend</button>
                }

            </li>
        }
    }
    else
    {
        <li class="list-group-item">No results.</li>
    }
</ul>


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".friendActionButton").click(function (e) {
                e.preventDefault();
                
                const button = $(this); // Store the clicked button
                const username = button.data("username"); // Get the username from the button's data attribute
                let actionUrl = '';
                let newButtonText = '';
                let newButtonId = '';

                // Determine the action based on the button's ID
                if (button.attr("id") === 'addFriendButton') {
                    actionUrl = '@Url.Action("SendFriendRequest", "Friendship")';
                    newButtonText = 'Cancel';
                    newButtonId = 'cancelRequestButton';
                } else if (button.attr("id") === 'cancelRequestButton') {
                    actionUrl = '@Url.Action("CancelFriendRequest", "Friendship")';
                    newButtonText = 'Add Friend';
                    newButtonId = 'addFriendButton';
                } else if (button.attr("id") === 'acceptRequestButton') {
                    actionUrl = '@Url.Action("AcceptFriendRequest", "Friendship")';
                    newButtonText = 'Unfriend';
                    newButtonId = 'unfriendButton';
                } else if (button.attr("id") === 'rejectRequestButton') {
                    actionUrl = '@Url.Action("RejectFriendRequest", "Friendship")';
                    newButtonText = 'Add Friend';
                    newButtonId = 'addFriendButton';
                } else if (button.attr("id") === "unfriendButton") {
                    actionUrl = '@Url.Action("RemoveFriend", "Friendship")';
                    newButtonText = 'Add Friend';
                    newButtonId = 'addFriendButton';
                }

                $.ajax({
                    url: actionUrl,
                    type: 'POST',
                    data: { username: username }, // Include the username in the data sent to the server
                    success: function (response) {
                        // Handle success - update the UI
                        if (response.success) {
                            // Check if the button is a reject button
                            if (button.attr("id") === 'rejectRequestButton') {
                                // Remove the accept button which is next to the reject button
                                button.siblings("#acceptRequestButton").remove();
                            }
                            button.fadeOut('fast', function () {
                                button.text(newButtonText)
                                      .attr("id", newButtonId)
                                      .fadeIn('fast');
                            });
                        } else {
                            alert('Action could not be completed. Please try again.');
                        }
                    },
                    error: function (error) {
                        // Handle error - notify the user
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });
    </script>
}
