@using InteractiveChat.Models.ViewModels
<form class="d-flex" id="searchForm" method="post">
    <input class="form-control me-sm-2" type="search" placeholder="Buscar" id="searchInput" name="searchTerm">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" asp-controller="Friendship" asp-action="SearchFriend">Buscar</button>
</form>

<ul class="list-group mt-4" id="searchResults">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <img src=@item.User.ProfilePicUrl class="small-images" alt="user profile pic"/>
                @item.User.FirstName @item.User.LastName
                @if (item.RelationshipStatus == RelationshipStatus.None)
                {
                    <button class="btn btn-primary friendActionButton" id="addFriendButton" data-username="@item.User.UserName">Agregar Amigo</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.PendingRequest)
                {
                    <button class="btn btn-primary friendActionButton" id="cancelRequestButton" data-username="@item.User.UserName">Cancelar</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.ReceivedRequest)
                {
                    <button class="btn btn-primary friendActionButton" id="acceptRequestButton" data-username="@item.User.UserName">Aceptar</button>
                    <button class="btn btn-primary friendActionButton" id="rejectRequestButton" data-username="@item.User.UserName">Rechazar</button>
                }
                else if (item.RelationshipStatus == RelationshipStatus.Accepted)
                {
                    <button class="btn btn-primary friendActionButton" id="unfriendButton" data-username="@item.User.UserName">Eliminar</button>
                }

            </li>
        }
    }
    else
    {
        <li class="list-group-item">No hay resultados.</li>
    }
</ul>


@section Scripts {
    <script>
        const friendshipUrls = {
            sendFriendRequest: '@Url.Action("SendFriendRequest", "Friendship")',
            cancelFriendRequest: '@Url.Action("CancelFriendRequest", "Friendship")',
            acceptFriendRequest: '@Url.Action("AcceptFriendRequest", "Friendship")',
            rejectFriendRequest: '@Url.Action("RejectFriendRequest", "Friendship")',
            unfriend: '@Url.Action("Unfriend", "Friendship")'
        };
    </script>
    <script src="~/js/friendshipActions.js"></script>
}